@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #0F172A;
  --color-secondary: #1E293B;
  --color-accent: #3B82F6;
}

[data-theme="themeI"] {
  --color-primary: #d4d8f0;
  --color-secondary: #232946;
  --color-accent: #eebbc3;
  --color-highlight: #fffffe;
  --color-text: #232946;
}

[data-theme="themeII"] {
  --color-primary: #232946;
  --color-secondary: #d4d8f0;
  --color-accent: #d4d8f0;
  --color-highlight: #fffffe;
  --color-text: #232946;
}

[data-theme="themeIII"] {
  --color-primary: #faeee7;
  --color-secondary: #33272a;
  --color-accent: #594a4e;
  --color-highlight: #fffffe;
  --color-text: #faeee7;
}

[data-theme="themeIV"] {
  --color-primary: #abd1c6;
  --color-secondary: #001e1d;
  --color-accent: #f9bc60;
  --color-highlight: #fffffe;
  --color-text: #004643;
}